/*
// This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
*/
/**
 * Displays some overview statistics for the site
 *
 * @package     report_studentreport
 * @school      Télécom SudParis France
 * @copyright   2015 BAKARI Houssem <baccarihoucem21@gmail.com>
				     ALIMI Marwa <>
					 BEN CHEIKH BRAHIM Amine <>
					 CHOUCHANE Rania <chouchene.rania2013@gmail.com>
 * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */


.tg  {
border-collapse:collapse;
border-spacing:0;
border-color:#999;
}

.tg td{
font-family:Arial, sans-serif;
font-size:14px;
padding:5px 5px;
border-style:solid;
border-width:0px;
overflow:hidden;
word-break:normal;
border-color:#999;
color:#444;
background-color:#F7FDFA;
border-top-width:1px;
border-bottom-width:1px;}

.tg th{
font-family:Arial, sans-serif;
font-size:14px;font-weight:normal;
padding:5px 5px;
border-style:solid;
border-width:0px;
overflow:hidden;
word-break:normal;
border-color:#999;
color:#fff;
background-color:#FFA07A;
border-top-width:1px;
border-bottom-width:1px;}

.tg .tg-s6z2{text-align:center}
.tg .coloring{text-align:center}

.hidden { visibility: hidden; }
.unhidden { visibility: visible; }



#cadreDomaine {
color: white;
font-size: 17px;
font-weight: bold;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
width:auto;
margin:0 0;
padding:10px;
background:#FF6347;
border:1px solid #DDD;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}



#cadreModule {
color: white;
font-size: 14px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
width:auto;
margin-top: 10px;
margin-bottom: 10px;
margin-right: 0px;
margin-left: 30px;
padding:10px;
background:#FF7F50;
border:1px solid #DDD;
border-radius:5px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
}
